{% extends "base.html" %}
{% load staticfiles %}

{% block header_css %}
<link href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
{% endblock %}
{% block main-content %}
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                第1步: 搜索公众号
            </div>
            <div class="panel-body">
              <form id="search-form" class="form-inline" action="/wechat/search/" >
                <div class="form-group">
                  <input type="text" class="form-control" style="min-width: 320px;" name="query" required placeholder="公众号名称,如:逻辑思维; 或者id,如:LJSW888">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
              </form>
              <div class="row" style="margin-top: 20px;">
                <div id="search-content" class="col-md-12">
                </div>
              </div>
            </div>
          </div><!--end 第1步-->

          <div class="panel panel-default">
            <div class="panel-heading">
                第2步: 设置爬取频率
            </div>
            <div class="panel-body">
              <form id="wechat-add-form" class="form-inline" action="/add/" method="post" >
                {% csrf_token %}
                <div class="form-group">
                  每<input type="number" class="form-control wechat-frequency" name="frequency" required placeholder="10" value="10"> 分钟爬取一次
                </div>
                <button type="submit" class="btn btn-primary">开始</button>
              </form>
              <div class="row" style="margin-top: 20px;">
                <div id="wechat-add-content" class="col-md-12">
                </div>
              </div>
            </div>
          </div><!--end 第2步-->

          <div class="panel panel-default">
            <div class="panel-heading">
                第2步: 爬取历史数据
            </div>
            <div class="panel-body">
              <form id="wechat-history-form" class="form-inline" action="/wechat/history/" method="post" >
                {% csrf_token %}
                <label for="start">时间段:</label>
                <div class="form-group">
                  <input id="start" type="text" class="form-control" name="history_start" required>
                </div>
                至
                <div class="form-group">
                  <input id="end" type="text" class="form-control" name="history_end" required>
                </div>
                <button type="submit" class="btn btn-primary">开始获取</button>
              </form>
              <div class="row" style="margin-top: 20px;">
                <div id="wechat-history-content" class="col-md-12">
                </div>
              </div>
            </div>
          </div><!--end 第3步-->

        </div>
      </div>
{% endblock %}

{% block footer-js %}
<script src="{% static 'jquery.form.js' %}"></script>
<script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>

<script>
$(document).ready(function() {
    // 微信搜索
    $('#search-form').ajaxForm(function(data) {
        //alert(data);
        $('#search-content').hide().html(data).show('slow');
    });
    // 设置爬取频率
    $('#wechat-add-form').ajaxForm({
      data: wechatInfo,
      success: function(data) {
            //alert(data);
            $('#wechat-add-content').hide().html(data).show('slow');
          }
        }
    );
    // 历史时间段
    $.fn.datepicker.defaults.format = "yyyy-mm-dd";
    $.fn.datepicker.defaults.language = "zh-CN";
    $('#start').datepicker({format: "yyyy-mm-dd", startDate: '-30d', endDate:'0d'});
    $('#end').datepicker({format:"yyyy-mm-dd", startDate: '-30d', endDate:'0d'});
    $('#wechat-history-form').ajaxForm({
      data: wechatInfo,
      success: function(data) {
            //alert(data);
            $('#wechat-history-content').hide().html(data).show('slow');
          }
        }
    );

});
var wechatInfo = {};
function selectWechat(node, name, wechatid, avatar){
  // 保存信息
  wechatInfo.name = name;
  wechatInfo.wechatid = wechatid;
  wechatInfo.avatar = avatar;
  //wechatInfo.intro = intro;
  console.log(wechatInfo);
  // 隐藏兄弟节点
  $(node).prevAll().hide('slow');
  $(node).nextAll().hide('slow');
}
</script>
{% endblock %}