{% extends "base.html" %}
{% load paginator %}
{% block main-content %}
<div class="row">
  <div class="col-md-12">

    <div class="topics panel panel-default">
      <div class="panel-heading">
          公众号列表
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover wechat-table">
          <thead>
            <tr>
              <th>#ID</th>
              <th>头像</th>
              <th>公众号和ID</th>
              <th>爬取频率</th>
              <th>下次爬取时间</th>
              <th>最近1天文章</th>
              <th>最近1周</th>
              <th>文章总数</th>
            </tr>
          </thead>
          <tbody>
          {% for item in wechats %}
            <tr>
              <td><a href="{% url 'wechat.edit' item.id %}">{{ item.id}}</td>
              <td><img src="{{ item.avatar}}" class="avatar-list"></td>
              <td><h5><a target="_blank" href="{{ item.url }}">{{ item.name}}</a></h5> <span class="wechat-id">{{ item.wechatid}}</span></td>
              <td>{{ item.frequency}}</td>
              <td>{{ item.next_crawl_time}}</td>
              <td><a href="{% url 'wechat.wechat_topics' item.id %}">{{ item.last_day_topics_count}}</a></td>
              <td><a href="{% url 'wechat.wechat_topics' item.id %}">{{ item.last_week_topics_count}}</a></td>
              <td><a href="{% url 'wechat.wechat_topics' item.id %}">{{ item.total_topics_count}}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="panel-footer clearfix">
        {% paginator wechats %}
      </div>

    </div><!--.topics-->

  </div>
</div>
{% endblock %}