/* Global Styles */
body {
    background: #E7EAEC;
    color: #222527;
}
a {
    color: #356DD0;
}
hr {
    border-color: #ddd;
}
abbr[title] {
    border-bottom: 0px;
    cursor: text;
}
.btn {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px 12px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.15);
}
/* user */

.profile-avatar {
    width: 68px;
    height: 68px;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
}
/* user sidebar */

.level {
    text-align: center;
    margin-top: 6px;
}
.level span {
    background: #ADD0FF;
    color: #4A5E9E;
    border-radius: 2px;
    padding: 2px 4px;
}

.sidebar .profile .item {
    margin-bottom: 5px;
}
.sidebar .profile .number {
    color: #999;
}
.sidebar .profile .counts {
    color: #999;
}
.sidebar .profile .counts span {
    color: #666;
}

.sidebar .profile .follow-info {
    border-top: 1px solid #f0f0f0;
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
}

.sidebar .profile .follow-info a {
    display: block;
    text-decoration: none;
}
.sidebar .profile .follow-info a.counter {
    font-size: 32px;
    color: #356DD0;
}
.sidebar .profile .follow-info a.text {
    color: #999;
}
.sidebar .profile .buttons {
    border-top: 1px solid #f0f0f0;
    margin-top: 15px;
    padding-top: 15px;
}
.profile-tabs-content {
    border-radius: 0 0 4px 4px;
    border-top: none;
}
/* user recent topics */
.recent-topics ul li .title {
    font-size: 14px;
}
.recent-topics ul li .info {
    margin-top: 3px;
    font-size: 12px;
    color: #bbb;
}
.recent-topics ul li .node {
    margin-right: 5px;
}
.recent-topics ul li .node a {
    color: #444;
}

.recent-replies li .title .info {
    font-size: 12px;
    color: #bbb;
}
/* topic */
.avatar-48 {
    width: 48px;
    height: 48px;
    border-radius: 2px;
}

/* list */
.avatar-24 {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin: -4px 4px;
}
.topics .topic {
    min-height: 68px;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 15px;
    margin: 0 -15px;
    vertical-align: top;
    position: relative;
}
.topics .topic .info {
    color: #aaa;
    font-size: 12px;
    margin-top: 10px;
}
.topics .topic .info .node {
    padding: 1px 5px;
    color: #778087;
    text-decoration: none;
    background-color: #f5f5f5;
}
.topics .topic .info a {
    color: #666;
}

.topics .topic .count a:link, .topics .topic .count a:hover, .topics .topic .count a:visited {
    line-height: 12px;
    color: #fff;
    font-weight: bold;
    border-radius: 80px;
    padding: 2px 10px 2px 10px;
    display: inline-block;
    text-decoration: none;
}
.topics .topic .count a:link {
    background: #98ACDF;
}
.topics .topic .count a:visited {
    background: #AAA;
}
.topics .node-info .name strong {
    font-weight: bold;
    color: #666;
    text-align: left;
    font-size: 16px;
    padding-bottom: 10px;
}
.topics .node-info .summary {
    color: #888;
    font-size: 13px;
}
.topics .node-info .summary p {
    margin: 6px 0 0 0;
}
.topics-add-btn {
    width: 100%;
}
.pagination {
    margin:0;
}
@media (max-width: 480px){
    .pagination {
        display: block;
    }
    .pagination li {
        display: none;
    }
    .pagination li.prev_page {
        display: block;
        float: left;
    }
    .pagination li.next_page {
        display: block;
        float: right;
    }
    .pagination li.prev_page a, .pagination li.next_page a {
    border-radius: 20px !important;
}
}

/* list node */
.node-list .node .media-left {
    min-width: 100px;
}
.node-list .node label {
    font-weight: normal;
    color: #aaa;
    text-align: center;
}
.node-list .node .name {
    margin-bottom: 10px;
    width: 100px;
    display: block;
    float: left;
    text-align: left;
}
.node-list .node .name a:link, .node-list .node .name a:visited {
    color: #333;
}

/* 酷站 */
.site {
    margin-bottom: 10px;
}
.site a {
    color: #777;
}

/* jobs */
.job-filter {
    margin: 10px 0 0 0;
}
.job-filter a {
    padding: 0 5px;
}
.job-filter a span {
    font-size: xx-small;
    color: #777777;
}

/* user signup */
.simple_form .form-control {
    border-radius: 0px;
    border-color: #D5DCE1;
    border: 0px;
    border-bottom: 1px solid #D5DCE1;
    box-shadow: inset 0 0px 0px #fff !important;
    padding: 6px 0px 6px 0;
    transition: none;
}

.avatar-upload {
    text-align: center;
}
.avatar-upload img {
    border-radius: 4px;
    border: 1px solid silver;
    width: 80px;
    height: 80px;
}


/** start topic add */
.topic-add-form {

}
.topic-add-form select {
    border: none;
}
.topic-add-form textarea {
    height: 400px;
}

.bootstrap-select .btn{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #D5DCE1;
    border-radius: 0;
}
.bootstrap-select .dropdown-menu {
    margin: -1px 0 0 0;
    border-radius: 0 0 4px 4px;
}
/** end topic add */

/* topic detail */
.topic-detail .opts {
    color: #666;
}
.topic-detail .opts a {
    margin-left: 5px;
    margin-right: 0px;
    color: #666;
}
.topic-detail .info a {
    padding: 1px 0px;
    color: #778087;
    text-decoration: none;
    background-color: #f5f5f5;
}
.topic-detail .info {
    padding: 1px 0px;
    color: #778087;
    text-decoration: none;
    background-color: #f5f5f5;
}
.topic-detail .panel-heading h1 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: left;
    line-height: 100%;
    margin-bottom: 8px;
}
.topic-detail .panel-body img {
    max-width: 100%;
}
.topic-detail .panel-body video{
    max-width: 100%;
}
/* topic-sidebar */
#topic-sidebar {
    position: fixed;
    width: 260px;
}
@media (min-width: 992px){
    #topic-sidebar {
        width: 240px;
    }
}
@media (min-width: 1100px){
    #topic-sidebar {
        width: 260px;
    }
}
#topic-sidebar a.btn-move-page {
    color: #666;
}
#topic-sidebar .reply-buttons {
    text-align: center;
}
#topic-sidebar .reply-buttons .total {
    margin-bottom: 10px;
}
#topic-sidebar .buttons {
    margin-top: 20px;
}
#topic-sidebar .group {
    text-align: center;
    margin-bottom: 20px;
}
#topic-sidebar .btn-favorite.active {
    color: #EB5424;
}
#topic-sidebar .btn-favorite {
    color: #666;
}
/** start ckeditor */
.django-ckeditor-widget {
    width: 100%;
}

/*  end ckeditor **/

/* reply */

#replies .reply {
    margin: 0 -15px;
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid #eee;
    padding-left: 74px;
}
#replies .reply .avatar {
    position: absolute;
    top: 10px;
    left: 15px;
    text-align: center;
}
#replies .reply .info {
    font-size: 12px;
}
#replies .reply .info .reply-floor {
    color: #7AA87A;
}
#replies .info .opts a {
    font-size: 13px;
    margin-left: 5px;
    color: #999;
}

/* user-card */
.user-card .media-heading {
    font-weight: bold;
}
.user-card .media-heading a {
    color: #333;
}
.user-card .infos {
    color: #999;
    font-size: 12px;
}
.user-card .infos .item {
    margin-top: 5px;
}
.opts a.active .fa {
    color: #EB5424;
}
.opts a:link, .opts a:visited {
    color: #666;
    text-decoration: none;
}
/* notifications */
#notifications .notification .info {
    color: #999;
    margin-bottom: 8px;
    font-size: 13px;
}
.no-records {
    padding: 80px 0;
    text-align: center;
    color: #aaa;;
}
.notification-count .new {
    color: #F86334 !important;
}

/* panel-toggle-icon */
.panel-toggle-icon {
    display: None;
    padding-top: .2em;
}
@media (max-width: 480px){
    .panel-toggle-icon {
        display: inline-block;
    }
    .panel-toggle-icon.open:before {
        content: "\f077";
    }
    .panel-toggle-icon.close:before {
        content: "\f078";
    }
    .panel-toggle-close {
        display: none;
    }

}
