/* Global Styles */
body {
    background: #E7EAEC;
    color: #222527;
}

.wechat-item:hover {
    background-color: #f5e79e;
}
.wechat-id{
    font-size: x-small;
    font-weight: 400;
    color: #aaa;
}

.wechat-frequency {
    max-width: 70px;
    margin: 0 2px 0 7px;
    text-align: center;
}

.avatar-list{
    width: 60px;
    height: 60px;
}